.fuente{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 }

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: black;
    color:rgb(255, 255, 255);
}

.footer__columna{
    width: 33%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer__columna--titulo{
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.footer__columna--contenido{
list-style-type: none;
font-size: 0.8em;
}

.contenedor-redes-sociales{
    display: flex;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    
}

.icono-red-social{
    width: 10%;
    padding-left: 1em;
    padding-right: 1em;
}

.menu--footer{
text-decoration: none;
color: rgb(255, 255, 255);
}