*{
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
}

.footer .footer__columna {
    width: 33%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer .footer__columna .footer__columna--titulo {
    font-size: 1em;
    color: rgb(255, 255, 255);
    padding-bottom: 0.3em;
}

.footer .footer__columna .footer__columna--integrantes {
    list-style-type: none;
    line-height: 1.5em;
    font-size: 0.9em;
}

.footer .footer__columna .footer__columna--menu {
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.5em;
}

.link-menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 0 0 1em rgb(255, 255, 255);
}


.footer .footer__columna .footer__columna--redes {
    display: flex;
    justify-content: center;
    padding-left: 3em;
    padding-right: 3em;
}


.icono-red-social {
    width: 20%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
}

/*Mobile Devices*/
@media screen and (max-width: 47.9em) {
    .footer {
        justify-content: center;
        flex-direction: column;
    }

    .footer .footer__columna {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .footer .footer__columna .footer__columna--titulo{
        font-size: 0.6em;
        padding-bottom: 0.2em;
    }

    .footer .footer__columna .footer__columna--integrantes {
        font-size: 0.5em;
    }

    .footer .footer__columna .footer__columna--menu {
        font-size: 0.7em;
        line-height: 1.2em;
    }

    .footer .footer__columna .footer__columna--redes{
        padding-left: 1em;
        padding-right: 1em;
    }

    .icono-red-social{
        width: 10%;
        padding-top: 0.2em;
    }

 
}

/*Tablet Devices*/
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {
    .footer .footer__columna {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .footer .footer__columna .footer__columna--titulo{
        font-size: 0.8em;
    }

    .footer .footer__columna .footer__columna--integrantes {
        font-size: 0.7em;
        padding-left: 0;
    }

    .footer .footer__columna .footer__columna--menu {
        font-size: 0.9em;
        line-height: 1.2em;
    }

    .footer .footer__columna .footer__columna--redes{
        padding-left: 1em;
        padding-right: 1em;

    }

    .icono-red-social{
        width: 18%;
        padding-top: 0.2em;
    }


}