* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100%;
}



.contenido_personalizacion_titulo {
    color: rgb(45, 86, 161);
    font-weight: bolder;
    font-size: 1.9em;
    margin-bottom: 3%;
}

.contenido {
    margin-top: 2%;
    display: flex;
    gap: 10%;
}

.subtitulos {
    font-size: 1.6em;
    font-weight: 300;
    color: rgb(203, 214, 238);
}

.contenido_vista-previa-giftcard {
    text-align: center;
    margin-left: 13%;
    margin-top: 5%;
}

.contenido_vista-previa-giftcard p {
    margin-top: 15%;
    text-transform: uppercase;
    font-weight: bold;
}


.contenido_vista-previa-giftcard_visualizacion {
    width: 100%;
    object-fit: contain;
}


.contenido_personalizacion_nombre-del-destinatario {
    width: 99%;
    padding: 1%;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
}


/*              Seleccionar el color               */

.contenido_personalizacion_seleccionar-color {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.contenido_personalizacion_seleccionar-color_opciones {
    display: flex;
    gap: 6%;
    margin-top: 4%;
}

.contenido_personalizacion_seleccionar-color_opciones_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.circulo {
    width: 55%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 5px;
}


/*              End Seleccionar el color               */



/*             Seleccionar tamaño de la fuente        */

.contenido_personalizacion_seleccionar-tamaño {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.contenido_personalizacion_seleccionar-tamaño_opciones {
    display: flex;
    gap: 10%;
    margin-top: 3%;
    margin-left: 2.5%;
}

.contenido_personalizacion_seleccionar-tamaño_opciones_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    margin-top: 5px;
    cursor: pointer;
}


/*         End Seleccionar tamaño de la fuente              */

.contenido_personalizacion_monto {
    margin-top: 8%;
    display: flex;
    gap: 0.3%;
}


.contenido_personalizacion_monto_input {
    width: 55%;
    padding: 1%;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
}

/*              Seleccionar el ubicacion del nombre                       */

.imagen-de-la-ubicacion {
    width: 75%;
}

.contenido_personalizacion_seleccionar-ubicacion {
    margin-top: 8%;
}

.contenido_personalizacion_seleccionar-ubicacion_opciones {
    display: flex;
    margin-top: 3%;
    gap: 8%;
}

.contenido_personalizacion_seleccionar-ubicacion_opciones_label {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*             End Seleccionar el ubicacion del nombre                       */


/*              Seleccionar el fondo                       */

.contenido_personalizacion_seleccionar-fondos {
    margin-top: 8%;
}

.fondo {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    /* Mantiene el cuadrado */
    margin-bottom: 5%;
}

.contenido_personalizacion_seleccionar-fondo_opciones {
    width: 100%;
    margin-top: 3%;
    display: flex;
    gap: 10%;
    margin-left: 3%;
}

.contenido_personalizacion_seleccionar-fondo_opciones_label {
    display: flex;
    flex-direction: column;
}

/*             End Seleccionar el fondo                       */



.contenido .contenido_boton {
    margin-top: 10%;
    margin-bottom: 12%;
}

.contenido .contenido_boton .contenido_boton_confirmar {
    font-size: 0.9em;
    font-weight: bold;
    background-color: rgb(45, 86, 161);
    width: 100%;
    padding: 2.7% 7%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}


.volver-atras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5em;
    background-color: rgb(39, 39, 39);
}

.volver-atras .volver-atras__flecha {
    width: 2%;
}

.volver-atras .volver-atras__flecha .volver-atras__flecha--img {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 95%;
    border-radius: 50%;
    text-align: right;
}


.volver-atras .volver-atras__texto {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9em;
    width: 3%;
    text-align: right;
    padding-right: 4%;
}



/*  Tablet Devices  */
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .volver-atras {
        display: none;
    }

    main {
        margin: 0em 1em;
        height: 57em;
    }

    .contenido {
        gap: 5%;
    }

    .contenido_vista-previa-giftcard p {
        margin-right: 3%;
    }

    .contenido .contenido_personalizacion_titulo {
        font-size: 1.3em;
        margin-top: 1.5em;
    }

    .contenido .contenido_personalizacion .contenido_personalizacion_nombre-del-destinatario {
        max-width: 80%;
    }

    .subtitulos {
        width: 100%;
        font-size: 1.17em;
    }

    .contenido_personalizacion_seleccionar-tamaño_opciones {
        margin: 0;
        margin-top: 1em;
    }

    .contenido .contenido_vista-previa-giftcard {
        margin-left: 0;
    }

    .contenido .contenido_vista-previa-giftcard .contenido_vista-previa-giftcard_visualizacion {
        max-width: 85%;
    }

    .contenido .contenido_personalizacion .contenido_personalizacion_seleccionar-tamaño {
        max-width: 45%;

    }
}

/*  End Tablet Devices  */

/*      Mobile Devices       */
@media screen and (max-width: 47.9em) {

    body {
        width: 100%;
        overflow-x: hidden;
    }

    main {
        margin: 0em 1em;
    }

    .volver-atras {
        display: none;
    }

    .subtitulos {
        font-size: 1.1em;
    }

    .contenido {
        flex-direction: column;
    }

    .contenido .contenido_vista-previa-giftcard .contenido_vista-previa-giftcard_visualizacion {
        max-width: 100%;
    }

    .contenido .contenido_vista-previa-giftcard {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 1.5em;
    }


    .contenido .contenido_personalizacion_titulo {
        font-size: 1.2em;
        margin-top: 1.5em;
    }

    .contenido .contenido_personalizacion_nombre-del-destinatario {
        max-width: 90%;
    }

    .contenido_personalizacion_seleccionar-tamaño {
        max-width: 80%;
    }


    .contenido_personalizacion_seleccionar-tamaño_opciones {
        margin: 0;
        margin-top: 1em;
    }

    .contenido .contenido_personalizacion_seleccionar-ubicacion {
        margin: 2em 0em;
    }

    .contenido .contenido_personalizacion_monto {
        margin: 2em 0em;
    }

    .contenido .contenido_personalizacion_seleccionar-ubicacion {
        margin: 2em 0em;
    }

    .contenido .contenido_boton {
        width: 85%;
    }

    .contenido .contenido_boton .contenido_boton_confirmar {
        display: block;
        text-align: center;
        margin: 3em 0em;
    }

}

/*    End Mobile Devices       */

/*  Laptop devices   */
@media screen and (min-width:1024px) and (max-width:1439px) {


    main {
        height: 55.8em;
    }
}