* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

body {
    background-color: rgb(39, 39, 39);
    color: white;
}

.contenido {
    display: flex;
    column-gap: 0.5em;
    justify-content: center;
    align-items: start;
    padding-left: 0.5em;
    padding-right: o.5em;
}

/* ------section 1 ---------------------------------- */
.contenido .contenido_vista-previa {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 1em;
    align-items: start;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    justify-content: center;
}

.contenido .contenido_vista-previa .contenido_vista-previa_giftcard {
    width: 100%;
    background-color: rgb(155, 149, 149);
    position: relative;
    text-align: center;
    min-height: 20em;
}

.contenido .contenido_vista-previa .contenido_vista-previa_giftcard .contenido_vista-previa_giftcard--titulo {
    font-size: 1em;
    padding-top: 5em;
}

.contenido .contenido_vista-previa .contenido_vista-previa_giftcard .contenido_vista-previa_giftcard--destinatario {
    font-size: 4em;
    font-weight: 700;
    padding-bottom: 2em;
}

.contenido .contenido_vista-previa .contenido_vista-previa_giftcard .contenido_vista-previa_giftcard--precio {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    top: 1%;
    right: 0%;
    font-size: 1em;
    padding: 0.5em;
}

.contenido .contenido_vista-previa .contenido_vista-previa_nota-al-pie {
    text-align: center;
    padding-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
}

/* ------section 2 ---------------------------------- */
.contenido .contenido_personalizacion {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contenido .contenido_personalizacion .contenido_personalizacion--titulo {
    color: rgb(45, 86, 161);
    font-weight: 700;
    font-size: 1.9em;
}

.contenido .contenido_personalizacion .contenido_personalizacion--subtitulo {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-top: 1em;
}

.contenido .contenido_personalizacion .contenido_personalizacion--input-text {
    width: 70%;
    padding: 0.5em;
    background-color: white;
    border: 2px solid black;
    border-radius: 2em;
    margin-top: 1em;
    font-style: italic;
}

/*              Seleccionar atributos - Color, tamanio de fuente, alineacion y fondo              */

.contenido .contenido_personalizacion .contenido_personalizacion_atributo {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.contenido .contenido_personalizacion .contenido_personalizacion_atributo .contenido_personalizacion_atributo--opcion {
    display: flex;
    column-gap: 1.5em;
    flex-direction: row;
}


.contenido .contenido_personalizacion .contenido_personalizacion_atributo .contenido_personalizacion_atributo--opcion .contenido_personalizacion_atributo--opcion_label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    justify-content: flex-end;
    align-items: center;
}

.circulo {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    justify-content: center;
}

/* variables color*/
.circulo--rojo {
    background-color: rgb(255, 0, 0);
}

.circulo--azul {
    background-color: rgb(0, 0, 255);
}

.circulo--verde {
    background-color: rgb(48, 216, 48);
}

.circulo--amarillo {
    background-color: rgb(255, 255, 0);
}

.circulo--rosa {
    background-color: rgb(240, 81, 174);
}


input[type="radio"] {
    margin-top: 5px;
    cursor: pointer;
}

/* variables tamaño de fuente*/
.size-1 {
    font-size: 0.9em;
}

.size-2 {
    font-size: 1em;
}

.size-3 {
    font-size: 1.1em;
}

.size-4 {
    font-size: 1.2em;
}

.size-5 {
    font-size: 1.3em;
}

/* input monto*/
.contenido .contenido_personalizacion .contenido_personalizacion_atributo--opcion .contenido_personalizacion_atributo--opcion_monto-input {
    width: 50%;
    padding: 0.2em;
    background-color: white;
    border: 0.2em solid black;
    border-radius: 2em;
    margin-top: 1.2em;
}

/* imagen de la ubicacion */

.imagen-de-la-ubicacion {
    width: 75%;
}


/* fondos */

.fondo {
    width: 2em;
    height: 2em;
    justify-content: center;
}

/* variables color*/
.fondo--naranja {
    background-color: rgb(255, 153, 0);
}

.fondo--violeta {
    background-color: rgb(154, 30, 211);
}

.fondo--celeste {
    background-color: rgb(45, 145, 238);
}

.fondo--magenta {
    background-color: rgb(233, 25, 112);
}

.fondo--gris {
    background-color: rgb(119, 116, 118);
}



/* End seleccionar atributos - Color, tamanio de fuente, alineacion y fondo  */


.contenido .contenido_personalizacion .contenido_personalizacion_atributo--opcion .contenido_personalizacion--boton {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 35%;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 2em;
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 2em;
}

.boton--confirmar {
    background-color: rgb(45, 86, 161);
}

.boton--cancelar {
    background-color: rgb(199, 58, 58);
}

/*volver*/
.volver-atras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 1em;
    background-color: rgb(39, 39, 39);
}

.volver-atras .volver-atras__flecha {
    width: 1.8em;
}

.volver-atras .volver-atras__flecha .volver-atras__flecha--img {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 1.5em;
    border-radius: 50%;
    text-align: right;
}


.volver-atras .volver-atras__texto {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9em;
    width: 3em;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.4em;
}


/*Modal INICIO*/
.modal {
    position: fixed;
    top: 40%;
    left: 35%;
    width: 30%;
    padding: 1em;
    background-color: #020202;
    border: 0.3em solid #c2c2c2;
    border-radius: 1em;
    text-align: center;
}

.modal .modal__titulo {
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-bottom: 0.5em;
}

.modal .modal__contenido {
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-bottom: 0.3em;
}

.modal .modal__boton {
    padding: 0.8em;
    text-align: center;
    border: 0.1em solid rgb(39, 39, 39);
    border-radius: 0.5em;
    background-color: rgb(45, 86, 161);
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin-top: 0.3em;
    cursor: pointer;
}
/*Modal FIN*/
.contenido .contenido_personalizacion .error {
    padding: 0.5em;
    border-radius: 0.7em;
    color: rgb(255, 0, 0);
    font-size: 0.7em;
    border: 0.2em solid rgb(255, 0, 0);
    background-color: rgb(255, 205, 205);
}

.contenido .contenido_personalizacion .contenido_personalizacion_atributo--opcion .error-monto{
    padding: 0.5em;
    border-radius: 0.7em;
    color: rgb(255, 0, 0);
    font-size: 0.7em;
    border: 0.2em solid rgb(255, 0, 0);
    background-color: rgb(255, 205, 205);
}


/*      Mobile Devices       */
@media screen and (max-width: 47.9em) {

    .contenido {
        flex-direction: column;
        align-items: left;
    }

    .contenido .contenido_vista-previa {
        padding-top: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 100%;
    }

    .contenido .contenido_vista-previa .contenido_vista-previa_giftcard .contenido_vista-previa_giftcard--destinatario {
        font-size: 2em;
        font-weight: 700;
        padding-bottom: 2em;
    }


    .contenido .contenido_vista-previa .contenido_vista-previa_nota-al-pie {
        font-size: 0.8em;
    }

    .contenido .contenido_personalizacion {
        width: 100%;
        padding-left: 1em;
    }

    .contenido .contenido_personalizacion .contenido_personalizacion--titulo {
        font-size: 1.6em;
    }

    /*Volver*/
    .volver-atras {
        display: none;
    }

    .modal {
        top: 40%;
        left: 25%;
        width: 50%;
        padding: 1em;
    }

    .modal .modal__titulo {
        font-size: 0.9em;
        font-weight: 500;
        padding-bottom: 0.3em;
    }

    .modal .modal__contenido {
        font-size: 0.7em;
    }

    .modal .modal__boton {
        font-size: 0.7em;
    }
}


/*  Tablet Devices  */
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {
    
    .contenido .contenido_vista-previa .contenido_vista-previa_giftcard .contenido_vista-previa_giftcard--destinatario {
        font-size: 2em;
        font-weight: 700;
    }


    .contenido .contenido_vista-previa .contenido_vista-previa_nota-al-pie {
        font-size: 0.8em;
    }

    .contenido .contenido_personalizacion .contenido_personalizacion--titulo {
        font-size: 1.6em;
    }
    
    .volver-atras {
        padding-right: 2em;
    }

    .volver-atras .volver-atras__flecha {
        width: 1.7em;
    }

    .volver-atras .volver-atras__flecha .volver-atras__flecha--img {
        width: 1.5em;
    }

    .volver-atras .volver-atras__texto {
        width: 3em;
        padding-right: 2em;
        font-size: 0.8em;
    }

    .modal {
        top: 42%;
        left: 30%;
        width: 40%;
        padding: 1em;
    }

    .modal .modal__titulo {
        font-size: 1em;
        font-weight: 500;
        padding-bottom: 0.3em;
    }

    .modal .modal__contenido {
        font-size: 0.8em;
    }

    .modal .modal__boton {
        font-size: 0.7em;
    }
}

/*  End Tablet Devices  */

