* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


.navprimario {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 50px;
    background-color: black;
    padding-top: 0.5em;

}


.navprimario__menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 0.5em;

}

.navprimario__menu-items-logo {
    display: flex;
    width: 28%;
}

.navprimario__menu-logo {
    text-decoration: none;
    display: flex;
    width: 18%;
}

.navprimario__menu-logo-img {
    display: flex;
    width: 80%;
}

.navprimario__menu-items-nombre {
    color: #3498DB;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navprimario__menu-items-buscador {
    display: flex;
    position: relative;
    align-items: center;
    width: 40%;
    height: 50%;

}


.navprimario__menu-items-buscador-input {
    width: 100%;
    border-style: none;
    text-indent: 10px;
    background-color: white;
    min-height: 95%;
    border-radius: 0;
}


.navprimario__menu-items-buscador-button {
    display: flex;
    position: absolute;
    height: 68%;
    background: white;
    border: none;
    align-items: center;
    justify-content: center;
    width: 5%;
    cursor: pointer;
    right: 0;
}

.navprimario__menu-items-buscador-button-img {
    width: 54%;
    display: flex;
    justify-content: center;

}

.navprimario__menu-items-carrito {
    display: flex;
    width: 30%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navprimario__menu-items-carrito-link {
    display: contents;
    width: 19%;
}


.navprimario__menu-items-carrito-img {
    position: absolute;
    width: 2.4em;
}

.navprimario__menu-login {
    display: flex;
    width: 80%;
    justify-content: space-between;
    justify-content: flex-end;
    flex-direction: row;

}

.navprimario__menu-login-btn {
    text-decoration: none;
    border: white;
    border-style: solid;
    border-width: 0.13em;
    background-color: transparent;
    color: white;
    padding: 6% 18%;
    font-size: 0.7em;
}

.navprimario__menu-login-btn:hover {
    border: #bfbfbf;
    background-color: #4ABAEA;
    border-style: solid;
    border-width: 0.13em;
    color: #ffffff;
    font-weight: 600;
}


.navprimario__menu-items-carrito-numero {
    font-weight: 700;
    font-size: 0.8em;
    color: #ffffff;
    position: relative;
    background: #49b6ffdb;
    border-radius: 100%;
    padding: 0.2em 0.5em;
    bottom: 0.6em;
}

/*MI PERFIL*/
.navprimario__perfil-dropdown {
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    margin-right: 1%;
}

.boton_mi-perfil {
    display: none;
    border: white;
    border-style: solid;
    border-width: 0.13em;
    background-color: transparent;
    color: white;
    padding: 6% 18%;
    font-size: 0.7em;
    width: 100%;
    justify-content: center;
}

.boton_mi-perfil:hover {
    border: #bfbfbf;
    background-color: #4ABAEA;
    border-style: solid;
    border-width: 0.13em;
    color: #ffffff;
    font-weight: 600;
}

.dropdown-menu {
    display: none; /* Oculto inicialmente */
    position: absolute;
    top: 100%;
    background-color: rgb(82, 79, 79);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(148, 146, 146, 0.2);
    padding: 0.2em;
    min-width: 6.5em;
    z-index: 1;
}

.dropdown-item {
    background: none;
    border: none;
    color: #ebeaea;
    padding: 0.2em;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #5f5d5d;
}
/*FIN MI PERFIL*/

.navsecundario {
    display: flex;
    width: 100%;
    background-color: rgb(0 0 0);
    height: 35px;
    justify-content: center;

}

.navsecundario__menu {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-evenly;
}

.navsecundario__menu-item {
    width: 23%;
    list-style: none;
    height: 70%;
}

.navsecundario__menu-item-link {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background: white;
    padding: 3.2% 12%;
    color: black;
    text-transform: uppercase;
    font-size: 0.8em;
}

.navsecundario__menu-item-link:hover {
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.725);
    font-weight: 500;
    border-width: 5%;
    background: #4ABAEA;

}


/*Mobile Devices*/
@media screen and (max-width: 47.9em) {

    .navprimario{
        padding-top: 0.2em;
    }
    
    .navsecundario__menu {
        width: 80%;
        font-size: 0.7em;
    }

    .navprimario__menu-items-logo{
        width: 15%;
        justify-content: center;
        padding-right: 1em;

    }

    .navprimario__menu-items-nombre {
        display: none;
    }

    .navprimario__menu-logo {
        width: 28%;
    }

    .navprimario__menu-logo-img {
        display: flex;
        width: 2.5em;
        top: 1.5%;
    }

    .navprimario__menu-items-buscador-button {
        width: 7%
    }

    .navprimario__menu-items-buscador-button-img {
        width: 75%;
    }

    .navprimario__menu-items-carrito {
        width: 25%;
    }

    .navprimario__menu-items-carrito-btn {
        display: none;
    }

    .navprimario__menu-items-carrito-img {
        margin-left: 85%;
    }

    .navprimario__menu-login {
        width: 32%;
        margin-right: 50%;
    }

    .boton_mi-perfil {
        font-size: 0.5em;
        padding: 0.2em;
    }
    .navprimario__menu-login-btn {
        font-size: 0.5em;
        margin-right: 0%;
    }
   
}

/*Tablet Devices*/
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {
    .navprimario__menu-login {

        width: 30%;
        margin-right: 16%;
    }

    .navprimario__menu-items-buscador-button {
        width: 7%
    }

    .navprimario__menu-items-carrito {
        gap: 1em;
    }
}


/*Laptop Devices*/
@media screen and (min-width: 63.9em) and (max-width: 90em) {
    .navprimario__menu-login {

        width: 30%;
        margin-right: 16%;
    }

    .navprimario__menu-items-buscador-button {
        width: 5%
    }
}







.carrito-sidebar {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -30em;
    height: 100vh;
    width: 25em;
    background-color: rgb(39, 39, 39);
    box-shadow: -5px 0 15px lightgray;
    display: flex;
    flex-direction: column;
    color: white;
    transition: ease-in-out 0.4s;
    overflow-y: auto;
}

.carrito-sidebar.abierto {
    right: 0; 
}

.carrito-sidebar.cerrado{
    right: -30em;
}

.carrito-sidebar__salir{
    text-decoration: none;
    color: white;
    font-size:1.4em;
    margin-top: 0.6em;
    cursor: pointer;
}

.carrito-sidebar__header {
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-top: 1em;
    border-bottom: 2px solid white;
    padding-bottom: 1.5em;
    margin-inline:1em;
}

.carrito-sidebar__header__carrito-img,
.carrito-cerrar-carrito-img {
    margin-top: 1em;
}

.carrito-sidebar__header__carrito-img {
    width: 2.7em;
}

.carrito-cerrar-carrito-img {
    max-width: 2em;
    height: 1.1em;
}

.carrito-sidebar__header__titulo {
    position: relative
}

.carrito-sidebar__header__titulo h2 {
    margin-top: 0.5em;
}

.js-carrito-sidebar__header__titulo__contador {
    position: absolute;
    top: 0;
    right: -15px;
    background: #49b6ffdb;
    border-radius: 100%;
    padding: 0.2em 0.5em;
    font-weight: 700;
    font-size: 0.8em;

}

/*  ********************* FIN HEADER ******************************/




.carrito-sidebar__contenedor-carrito-vacio{
    width: 100%;
}

.carrito-sidebar__contenedor-carrito-vacio__contenido{
    text-align: center;
    margin-top: 100%;
    font-size: 1.5em;
    font-weight: 500;
}

.carrito-sidebar__contenedor-carrito-vacio.oculto{
    display: none;
}



/*  ITEM  */

.carrito-sidebar__cursos__item{
    display: flex;
    padding: 1em;
    margin-top: 1em;
    align-items: center;
}

.carrito-sidebar__cursos__item__imagen{
    max-width: 32%;

    height: fit-content;
}

.carrito-sidebar__cursos__item__descripcion{
    display: flex;
    flex-direction: column;
    margin-left:1.2em ;
    width: 100%; 
}

.carrito-sidebar__cursos__item__descripcion__fila{
    display: flex;
    justify-content: space-between;
}


.carrito-sidebar__cursos__item__titulo{
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom:0.6em;
}

.carrito-sidebar__cursos__item__modalidad{
    margin-bottom:0.5em;
    font-size: 0.9em;
}

.carrito-sidebar__cursos__item__precio{
    font-weight: bolder;
    margin-bottom:0.2em;
}



.carrito-sidebar__cursos__item__contenedor-cantidad{
    display: flex;
    align-items: center;
    gap: 1em;    
    margin: 0.5em 0;
}

.carrito-sidebar__cursos__item__contenedor-cantidad__numero{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.15em;
    min-width: 5%;
}
.carrito-sidebar__cursos__item__eliminar-giftcard,.carrito-sidebar__cursos__item__contenedor-cantidad span{
    width: 30px;
    height: 30px;
    background-color:#fff;
    color: black;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 0 0.4em rgb(153, 151, 151);
    line-height: 1;
    text-align: center;
}

.carrito-sidebar__cursos__item__eliminar-giftcard{
    font-size: 1.2em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.carrito-sidebar__cursos__item__contenedor{
    display: flex;
    justify-content: space-between;
    
}



/* Fin del Item */



/*    BOtones    */
.carrito-sidebar_botones {
    margin-top: auto; /* Empuja el elemento hacia abajo */
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.carrito-sidebar_botones__subtotal {
    display: flex;
    justify-content: space-between;
    margin-inline: 2em;
    margin-bottom: 1em;
}

.carrito-sidebar_botones__subtotal__botones {
    text-decoration: none;
    width: 90%;
    text-align: center;
    background-color: rgb(45, 86, 161);
    color: white;
    padding: 0.5em ;
    border-radius: 30px;
    margin: 0.4em auto;
}