* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

.main__subtitulo {
    background-color: rgb(39, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
}


.section-slider {
    width: 100%;
    background-color: rgb(39, 39, 39);
    position: relative;
}

.section-slider .section-slider__imagen {
    width: 100%;
}

.section-slider .section-slider__flecha-derecha {
    width: 6%;
    position: absolute;
    top: 35%;
    right: 2%;
}

.section-slider .section-slider__flecha-izquierda {
    width: 6%;
    position: absolute;
    top: 35%;
    left: 2%;
}

/*Sección pasos*/

.section-pasos {
    background-color: rgb(39, 39, 39);
    width: 100%;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
}


.section-pasos .section-pasos-recuadros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr;
    grid-row-gap: 0.5em;
    align-items: center;
    justify-items: center;
}

.section-pasos .section-pasos-recuadros .section-pasos-recuadros__numero {
    display: block;
    box-shadow: 0 0 0.4em rgb(153, 151, 151);
    border-radius: 50%;
    background-color: rgb(113, 122, 248);
    padding: 0.4em;
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    color: rgb(0, 0, 0);
    width: 2.2em;
}


.section-pasos .section-pasos-recuadros .section-pasos-recuadros__contenido {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    width: 60%;
    text-transform: uppercase;
}

/*Cursos destacados*/


.contenedor-tarjetas {
    background-color: rgb(39, 39, 39);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em 4em;
    padding-left: 10em;
    padding-right: 10em;
}

.contenedor-tarjetas .tarjeta {
    display: grid;
    grid-template-areas: "img-precio img-precio"
        "titulo titulo"
        "horas modalidad"
        "horas detalle"
        "comprar comprar";
    background-color: rgb(255, 255, 255);
    padding-left: 0.5em;
    padding-right: 0.5em;
    grid-row-gap: 0.2em;
    align-items: center;
    box-shadow: 0 0 0.3em rgb(255, 255, 255);
}

.contenedor-tarjetas .tarjeta .tarjeta__img-precio {
    grid-area: img-precio;
    position: relative;
    text-align: center;
    border-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    margin: 0.2em;
}

.contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__imagen {
    width: 90%;
    margin: 0.5em;
}

.contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__precio {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    bottom: 5%;
    right: 0.1%;
    font-size: 1em;
    padding: 0.5em;
}

.contenedor-tarjetas .tarjeta .tarjeta__titulo {
    grid-area: titulo;
    font-size: 1.3em;
    text-align: right;
}

.contenedor-tarjetas .tarjeta .tarjeta__horas {
    grid-area: horas;
    font-size: 1.2em;
    text-align: center;
}

.contenedor-tarjetas .tarjeta .tarjeta__modalidad {
    grid-area: modalidad;
    text-align: right;
    font-size: 0.8em;
}

.contenedor-tarjetas .tarjeta .tarjeta__detalle {
    grid-area: detalle;
    text-align: right;
    text-shadow: 0 0 1em rgb(17, 17, 17);
}

.contenedor-tarjetas .tarjeta .tarjeta__comprar {
    grid-area: comprar;
    text-align: center;
    padding: 1em;
}

.boton {
    font-size: 0.8em;
    padding: 1.5em;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 3em;
}

.boton.boton--comprar {
    background-color: rgb(45, 86, 161);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.boton.boton--ver-detalle {
    color: rgb(45, 86, 161);
    font-weight: 700;
}

/*Medios de pago*/

.contenedor-medios-de-pago {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    padding-bottom: 1.5em;
}

.contenedor-medios-de-pago .medio-de-pago {
    width: 10%;
    padding: 0.5em;
}

.contenedor-medios-de-pago .medio-de-pago--flecha {
    width: 5%;
    max-height: 3em;
}

/*--------------------------------------------------------------*/
/*Mobile Devices*/
@media screen and (max-width: 47.9em) {

    .main__subtitulo {
        padding-bottom: 0.9em;
        padding-top: 0.9em;
        font-size: 0.6em;
    }

    /*Pasos*/
    .section-pasos {
        width: 100%;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .section-pasos .section-pasos-recuadros .section-pasos-recuadros__numero {
        padding: 0.2em;
        font-size: 1em;
        font-weight: 600;
    }


    .section-pasos .section-pasos-recuadros .section-pasos-recuadros__contenido {
        font-weight: 400;
        font-size: 0.5em;
        width: 70%;
    }

    /*Tarjetas*/

    .contenedor-tarjetas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em 2em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 1em;
    }

    .contenedor-tarjetas .tarjeta {
        column-gap: 0.2em;
        row-gap: 0.1em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio {
        margin: 0.1em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__imagen {
        margin: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__precio {
        font-size: 0.6em;
        padding: 0.5em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__titulo {
        font-size: 0.8em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__horas {
        font-size: 0.6em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__modalidad {
        font-size: 0.5em;
        padding-top: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__detalle {
        padding-bottom: 0;
        padding-top: 0;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__comprar {
        padding-top: 0.2em;
        padding-bottom: 0.6em;
    }

    .boton {
        font-size: 0.5em;
        padding: 0.8em;
    }

    .boton.boton--ver-detalle {
        font-weight: 500;
        text-align: right;
    }

    /*Medios de pago*/

    .contenedor-medios-de-pago {
        padding-bottom: 0.7em;
    }

    .contenedor-medios-de-pago .medio-de-pago--flecha {
        max-height: 2em;
    }

}


/*Tablet Devices*/
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {

    .main__subtitulo {
        padding-bottom: 0.9em;
        padding-top: 0.9em;
        font-size: 0.9em;
    } 

    /*Pasos*/
    .section-pasos {
        width: 100%;
        padding-bottom: 1em;
        padding-left: 3em;
        padding-right: 3em;
    }

    .section-pasos .section-pasos-recuadros .section-pasos-recuadros__numero {
        padding: 0.5em;
        font-size: 1.3em;
        font-weight: 750;
    }


    .section-pasos .section-pasos-recuadros .section-pasos-recuadros__contenido {
        font-weight: 400;
        font-size: 0.8em;
        width: 70%;
    }

    /*Tarjetas*/

    .contenedor-tarjetas {
        grid-gap: 1.5em 3em;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 0.5em;
        padding-top: 0.2em;
    }

    .contenedor-tarjetas .tarjeta {
        column-gap: 0.2em;
        row-gap: 0.1em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio {
        margin: 0.1em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__imagen {
        margin: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__precio {
        font-size: 0.7em;
        padding: 0.4em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__titulo {
        font-size: 0.8em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__horas {
        font-size: 0.8em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__modalidad {
        font-size: 0.6em;
        padding-top: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__detalle {
        padding-bottom: 0;
        padding-top: 0;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__comprar {
        padding-top: 0.2em;
        padding-bottom: 0.6em;
    }

    .boton {
        font-size: 0.6em;
        padding: 0.8em;
    }

    .boton.boton--ver-detalle {
        font-weight: 500;
        text-align: right;
    }

    /*Medios de pago*/

    .contenedor-medios-de-pago {
        padding-bottom: 0.7em;
    }

    .contenedor-medios-de-pago .medio-de-pago--flecha {
        max-height: 2em;
    }

}



/* ***************** HEAADER******************************** */


.carrito-sidebar {
    position: fixed;
    top: 0;
    right: -30em;
    height: 100vh;
    width: 25em;
    background-color: rgb(39, 39, 39);
    box-shadow: -5px 0 15px lightgray;
    display: flex;
    flex-direction: column;
    color: white;
    transition: ease-in-out 0.4s;
    overflow-y: auto;
}

.carrito-sidebar.abierto {
    right: 0; 
}

.carrito-sidebar.cerrado{
    right: -30em;
}

.carrito-sidebar__salir{
    text-decoration: none;
    color: white;
    font-size:1.4em;
    margin-top: 0.6em;
    cursor: pointer;
}

.carrito-sidebar__header {
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-top: 1em;
    border-bottom: 2px solid white;
    padding-bottom: 1.5em;
    margin-inline:1em;
}

.carrito-sidebar__header__carrito-img,
.carrito-cerrar-carrito-img {
    margin-top: 1em;
}

.carrito-sidebar__header__carrito-img {
    width: 2.7em;
}

.carrito-cerrar-carrito-img {
    max-width: 2em;
    height: 1.1em;
}

.carrito-sidebar__header__titulo {
    position: relative
}

.carrito-sidebar__header__titulo h2 {
    margin-top: 0.5em;
}

.js-carrito-sidebar__header__titulo__contador {
    position: absolute;
    top: 0;
    right: -15px;
    background: #49b6ffdb;
    border-radius: 100%;
    padding: 0.2em 0.5em;
    font-weight: 700;
    font-size: 0.8em;

}

/*  ********************* FIN HEADER ******************************/




.carrito-sidebar__contenedor-carrito-vacio{
    width: 100%;
}

.carrito-sidebar__contenedor-carrito-vacio__contenido{
    text-align: center;
    margin-top: 100%;
    font-size: 1.5em;
    font-weight: 500;
}

.carrito-sidebar__contenedor-carrito-vacio.oculto{
    display: none;
}



/*  ITEM  */

.carrito-sidebar__cursos__item{
    display: flex;
    padding: 1em;
    margin-top: 1em;
}

.carrito-sidebar__cursos__item__imagen{
    max-width: 32%;
    padding: 0.8em;
}

.carrito-sidebar__cursos__item__descripcion{
    display: flex;
    flex-direction: column;
    margin-left:1.2em ;
    width: 100%; 
}

.carrito-sidebar__cursos__item__titulo{
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom:0.6em;
}

.carrito-sidebar__cursos__item__modalidad{
    margin-bottom:0.5em;
    font-size: 0.9em;
}

.carrito-sidebar__cursos__item__precio{
    font-weight: bolder;
    margin-bottom:0.2em;
}





.carrito-sidebar__cursos__item__contenedor-cantidad{
    display: flex;
    align-items: center;
    gap: 1em;    
    margin: 0.5em 0;
}

.carrito-sidebar__cursos__item__contenedor-cantidad__numero{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.15em;
    min-width: 5%;
}
.carrito-sidebar__cursos__item__contenedor-cantidad span{
    width: 30px;
    height: 30px;
    background-color:#fff;
    color: black;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 0 0.4em rgb(153, 151, 151);
    line-height: 1;
    text-align: center;
}



/* Fin del Item */



/*    BOtones    */
.carrito-sidebar_botones {
    margin-top: auto; /* Empuja el elemento hacia abajo */
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.carrito-sidebar_botones__subtotal {
    display: flex;
    justify-content: space-between;
    margin-inline: 2em;
    margin-bottom: 1em;
}

.carrito-sidebar_botones__subtotal__botones {
    text-decoration: none;
    width: 90%;
    text-align: center;
    background-color: rgb(45, 86, 161);
    color: white;
    padding: 0.5em ;
    border-radius: 30px;
    margin: 0.4em auto;
}