* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-imagenprincipal {
    width: 100%;
    margin-bottom: -4.3%;

}


.section-imagenprincipal-imagen-principal {
    width: 100%;
}

.section-imagenprincipal-flecha {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 20em;
}

.section-imagenprincipal-flecha-link {
    display: flex;
}

.section-imagenprincipal-flecha-izquierda,
.section-imagenprincipal-flecha-derecha {
    width: 3em;
    height: 3em;
}
.section-imagenprincipal-flecha-derecha{

}


.section-pasos {
    background-color: rgb(39, 39, 39);
    width: 80%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
 }


.section-pasos-recuadros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5em;
    align-items: center;
    justify-items: center;
}

.section-pasos-recuadros__titulo{
    display: block;
    box-shadow: 0 0 0.4em rgb(153, 151, 151);
    border-radius: 50%;
    background-color: rgb(113, 122, 248);
    padding: 0.4em;
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    color: rgb(0, 0, 0);
    width: 1.3em;

}


.section-pasos-recuadros__contenido {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    width: 60%;
    text-transform: uppercase;
}

/*Cursos destacados*/

.main__subtitulo {
    background-color: rgb(39, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
}

.contenedor-tarjetas {
    background-color: rgb(39, 39, 39);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em 4em;
    padding-left: 10em;
    padding-right: 10em;
}

.tarjeta {
    display: grid;
    grid-template-areas: "img-precio img-precio"
        "titulo titulo"
        "horas modalidad"
        "horas detalle"
        "comprar comprar";
    background-color: rgb(255, 255, 255);
    padding-left: 0.5em;
    padding-right: 0.5em;
    grid-row-gap: 0.2em;
    align-items: center;
    box-shadow: 0 0 0.3em rgb(255, 255, 255);
}

.tarjeta__img-precio{
    grid-area: img-precio;
    position: relative;
    text-align: center;
    border-color: hwb(0 0% 100%);
    border-style: solid;
    margin: 0.2em;
}

.tarjeta__imagen {
    width: 90%;
    margin: 0.5em;
}

/*
.tarjeta__precio {
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    top: 75%;
    left: 73.5%;
    font-size: 1em;
    padding: 0.5em;
}
*/
.tarjeta__precio {
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    bottom: 5%;
    right: 3%;
    font-size: 1em;
    padding: 0.5em;
}

.tarjeta__titulo {
    grid-area: titulo;
    font-size: 1.3em;
    text-align: right;
}

/*
.tarjeta__horas {
    grid-area: horas;
    text-align: center;
    font-size: 1.2em;
}
    */

.tarjeta__horas {
    grid-area: horas;
    font-size: 1.2em;
    margin-left: 5.5%;
}
.tarjeta__modalidad {   
    grid-area: modalidad;
    text-align: right;
    font-size: 0.8em;
}

.tarjeta__detalle {
    grid-area: detalle;
    text-align: right;
    text-shadow: 0 0 1em rgb(17, 17, 17);
}

.tarjeta__comprar {
    grid-area: comprar;
    text-align: center;
    padding: 1em;
}

.boton{
    font-size: 0.8em;
    padding: 1.5em;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 3em;
}

.boton--comprar{
    background-color: rgb(45, 86, 161);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.boton--ver-detalle{
    color: rgb(45, 86, 161);
    font-weight: 700;
}

.contenedor-medios-de-pago{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    padding-bottom: 1.5em;
}

.medio-de-pago{
    width: 10%;
    padding: 0.5em;
}

.medio-de-pago--flecha{
    width: 5%;
    max-height: 3em;
}