* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}


section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

article {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 20%;
    /* margin-top: 12%; */
}


label {
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 1.5em;
    font-weight: 500;
}

input {
    margin: 0;
    padding: 1.5%;
    border-radius: 30px;
    border: none;
}

.informacion-tarjeta-fila {
    display: flex;
    margin-top: 0.7%;
}

.vencimiento,
.codigo-tarjeta {
    margin-top: 1%;
}

.informacion-tarjeta-fila .vencimiento {
    width: 70%;
}

.informacion-tarjeta-fila .codigo-tarjeta {
    margin-left: 1.5%;
    width: 30%;
}

.monto {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}

.precio-total-celular {
    display: none;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boton_cancelar,
.boton_confirmar {
    display: inline-block;
    text-align: center;
    padding: 2.5% 6%;
    border-radius: 25px;
    width: 35%;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20%;
    text-decoration: none;
    font-size: 0.9em;
}

.boton_cancelar {
    background-color: rgb(199, 58, 58);
    font-size: 0.9em;
    padding: 2.2% 1%;
    height: 10%;
}

.boton_confirmar {
    background-color: rgb(45, 86, 161);
}


a {
    text-decoration: none;
    color: white;
}


.cursos {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.cursos {
    gap: 30px;
    max-width: 37%;
    margin-bottom: 10em;
}


.curso_seleccionado {
    display: flex;
    align-items: center; 
    justify-content: start; 
    margin-right: 23%;
    background-color: #333;
    border-radius: 30px;
    padding: 1em; 
}

.curso_seleccionado_imagen {
    width: 15%; 
    height: auto; 
    margin-right: 0.5em; 
}

.curso_seleccionado_contenido {
    width: 100%;
    padding: 0 1%;
}

.curso_seleccionado_contenido p {
    font-size: 0.85em;
    color: rgb(241, 239, 235);
}

.curso_seleccionado_contenedor-del-precio {
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
}
    


.curso_seleccionado_contenedor-del-precio .curso_seleccionado_contenedor-del-precio_titulo {
    margin-left: 2%;
    font-weight: bolder;
}


.curso_seleccionado_contenedor-del-precio .curso_seleccionado_contenedor-del-precio_precio {
    font-size: 1em;
    margin-right: 5%;
}

.curso_seleccionado_contenido .curso_seleccionado_modalidad,.curso_seleccionado_cantidad {
    margin-left: 2%;
    margin-top: 0.5%;
    font-size: 0.75em;
    color: darkgray;
}

.precio-total {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    font-weight: bold;
    font-size: 1em;
    margin-top: 2%;
}

.precio-total .total {
    margin-left: 1%;
}

.vacio{
    margin-right: 15em;
    margin-top:0em;

}

/*Volver*/
.volver-atras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 1em;
    background-color: rgb(39, 39, 39);
}

.volver-atras .volver-atras__flecha {
    width: 1.8em;
}

.volver-atras .volver-atras__flecha .volver-atras__flecha--img {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 1.5em;
    border-radius: 50%;
    text-align: right;
}


.volver-atras .volver-atras__texto {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9em;
    width: 3em;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.4em;
}

/*Volver*/
.volver-atras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 1em;
    background-color: rgb(39, 39, 39);
}

.volver-atras .volver-atras__flecha {
    width: 1.8em;
}

.volver-atras .volver-atras__flecha .volver-atras__flecha--img {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 1.5em;
    border-radius: 50%;
    text-align: right;
}


.volver-atras .volver-atras__texto {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9em;
    width: 3em;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.4em;
}

/*Error*/
.error {
    padding: 0.5em;
    border-radius: 0.7em;
    color: rgb(255, 0, 0);
    font-size: 0.7em;
    border: 0.2em solid rgb(255, 0, 0);
    background-color: rgb(255, 205, 205);
}


/* Elimina el boton en el input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/*Modal INICIO*/
.modal {
    position: fixed;
    top: 40%;
    left: 25%;
    width: 50%;
    padding: 1em;
    background-color: #020202;
    border: 0.3em solid #c2c2c2;
    border-radius: 1em;
    text-align: center;
}

.modal .modal__titulo {
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-bottom: 0.5em;
}

.modal .modal__contenido {
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-bottom: 0.3em;
}

.modal .modal__boton {
    padding: 0.8em;
    text-align: center;
    border: 0.1em solid rgb(39, 39, 39);
    border-radius: 0.5em;
    background-color: rgb(45, 86, 161);
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin-top: 0.3em;
    cursor: pointer;
}
/*Modal FIN*/


/*      Mobile Devices       */
@media screen and (max-width: 47.9em) {

    body {
        width: 100%;
        overflow-x: hidden;
    }


    .volver-atras {
        display: none;
    }

    section {
        flex-direction: column;
        flex-direction: column-reverse;
        margin-top: 2%;
    }

    article {
        width: 100%;
    }


    article form {
        display: flex;
        align-items: center;
    }


    form {
        width: 100%;
        margin-left: 0;
    }

    label {
        font-size: 1.2em;
    }

    input {
        width: 70%;
    }

    .informacion-tarjeta-fila {
        width: 70%;
    }

    article .precio-total {
        display: none;
    }

    form .precio-total-celular {
        display: flex;
    }

    form .botones {
        width: 80%;
        margin-bottom: 10em;
    }

    section .cursos {
        max-width: 90%;
        margin: 0em 1em;
        padding: 3em;
    }

    section .cursos .curso_seleccionado {
        width: 100%;
    }

    section article form .precio-total-celular {
        display: flex;
        width: 100%;
        margin-top: 5em;
        justify-content: center;
    }

    section article form .precio-total-celular .total {
        align-self: center;
        font-size: 1.2em;
        margin-left: 1.5em;
        font-weight: bold;
    }

    .curso_seleccionado_imagen {
        width: 25%;
        height: auto;
    }

    .boton_cancelar,
    .boton_confirmar {
        width: 35%;
    }

    .modal .modal__titulo {
        font-size: 0.9em;
        font-weight: 500;
        padding-bottom: 0.3em;
    }

    .modal .modal__contenido {
        font-size: 0.7em;
    }

    .modal .modal__boton {
        font-size: 0.7em;
    }
}

/*     End Mobile Devices       */



/*  Tablet Devices  */
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    section {
   /*     margin-top: 10%; */
    }

    .cursos {
        max-width: 43%;
        font-size: 0.9em;
    }



    .curso_seleccionado_imagen {
        width: 19%;
    }

    .curso-a-comprar {
        margin-left: 1em;
    }

    form {
        width: 60%;
    }

    label{
        font-size: 1em;
    }

    .boton_cancelar,
    .boton_confirmar {
        width: 100%;
    }




    /*Volver*/
    .volver-atras {
        padding-right: 2em;
    }

    .volver-atras .volver-atras__flecha {
        width: 1.7em;
    }

    .volver-atras .volver-atras__flecha .volver-atras__flecha--img {
        width: 1.5em;
    }

    .volver-atras .volver-atras__texto {
        width: 3em;
        padding-right: 2em;
        font-size: 0.8em;
    }

    .modal {
        top: 42%;
        left: 30%;
        width: 40%;
        padding: 1em;
    }

    .modal .modal__titulo {
        font-size: 1em;
        font-weight: 500;
        padding-bottom: 0.3em;
    }

    .modal .modal__contenido {
        font-size: 0.8em;
    }

    .modal .modal__boton {
        font-size: 0.7em;
    }
}

/*  End Tablet Devices  */


/*  Laptop devices   */
@media screen and (min-width:1024px) and (max-width:1439px) {

    .cursos {
        max-width: 40%;
        font-size: 0.9em;
    }

    section {
        margin-top: 3%;
    }

    .curso_seleccionado_imagen {
        width: 19%;
    }

    form {
        width: 60%;
    }

}

/*  End Laptop devices   */


.carrito-sidebar__header {
    display: flex;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-top: 1em;
    border-bottom: 2px solid white;
    padding-bottom: 1.5em;
    margin-inline:1em;
    width: 95%;
}

.carrito-sidebar_botones {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}