* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    min-height: 35em;
    
}

.contenedor-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7em;
}


.corregir-padding{
    padding-top:3em ;
}

.contenedor-formulario .formulario {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 0 0.4em rgb(153, 151, 151);
    border-radius: 2em;
    background-image: url(../assets/fondo-form.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.contenedor-formulario .formulario .formulario__titulo {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
}

.contenedor-formulario .formulario .formulario__label {
    text-align: left;
    font-size: 1.2em;
    margin-top: 0.6em;
    color: rgb(255, 255, 255);
}

.contenedor-formulario .formulario .formulario__input {
    padding: 0.5em;
    border: 0.1em solid rgb(39, 39, 39);
    border-radius: 0.7em;
    background-color: rgb(204, 204, 204);
    color: black;
    font-size: 0.7em;
}

.formulario_mensaje-error{
    color: rgb(247, 15, 15);
    background-color: rgba(255, 202, 201, 0.8);
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
}

.contenedor-formulario .formulario .formulario__olvido {
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 1em;
    text-align: right;
    margin-top: 0.6em;
}


.contenedor-formulario .formulario .formulario__boton {
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    border: 0.1em solid rgb(39, 39, 39);
    border-radius: 1.5em;
    background-color: rgb(45, 86, 161);
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.contenedor-formulario .formulario .formulario__crear-cuenta {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.contenedor-formulario .formulario .formulario__link-crear-cuenta {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.contenedor-formulario .formulario .formulario__indicaciones {
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-bottom: 1em;
}

/*Volver*/
.volver-atras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 1em;
}

.volver-atras .volver-atras__flecha {
    width: 1.8em;
}

.volver-atras .volver-atras__flecha .volver-atras__flecha--img {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 1.5em;
    border-radius: 50%;
    text-align: right;
}


.volver-atras .volver-atras__texto {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9em;
    width: 3em;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.4em;
}

.navsecundario__menu{
    display: none;
}

/*Pop-up*/
.popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 35%;
    width: 30%;
    padding: 2em;
    background-color: #020202;
    border: 0.3em solid #c2c2c2;
    border-radius: 1em;
    text-align: center;
}

.popup .popup__texto{
    text-align: center;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding-bottom: 1em;
}

.popup .popup__boton {
    padding: 0.5em;
    text-align: center;
    border: 0.1em solid rgb(39, 39, 39);
    border-radius: 1.5em;
    background-color: rgb(45, 86, 161);
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.campo-autocompletado{
    text-align: left;
    font-size: 1em;
    color: rgb(175, 174, 174);
    font-weight: 600;
    padding-bottom: 1em;
}


/*-----------------------------------*/
/*Mobile Devices*/
@media screen and (max-width: 47.9em) {

    .main {
        min-height: 37em;
    }

    .contenedor-formulario {
        padding-top: 13em;
    }

    .corregir-padding{
        padding-top: 11em;
    }


    .contenedor-formulario .formulario {
        padding: 0.5em;
        width: 65%;
        border-radius: 1em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .contenedor-formulario .formulario .formulario__titulo {
        font-size: 1.2em;
        margin-bottom: 0.2em;
    }

    .contenedor-formulario .formulario .formulario__label {
        font-size: 0.9em;
        margin-top: 0.4em;
    }

    .contenedor-formulario .formulario .formulario__input {
        border-radius: 0.5em;
        font-size: 0.6em;
    }


    .contenedor-formulario .formulario .formulario__olvido {
        font-weight: 600;
        font-size: 0.9em;
        margin-top: 0.4em;
    }


    .contenedor-formulario .formulario .formulario__boton {
        padding: 0.4em;
        border-radius: 1em;
        font-size: 0.8em;
        margin-top: 0.8em;
    }

    .contenedor-formulario .formulario .formulario__crear-cuenta {
        font-size: 0.9em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .contenedor-formulario .formulario .formulario__link-crear-cuenta {
        font-weight: 650;
    }

    .contenedor-formulario .formulario .formulario__indicaciones {
        font-size: 0.8em;
        padding-bottom: 0.7em;
    }

    /*Volver*/
    .volver-atras {
        display: none !important;
    }

    .popup {
        top: 40%;
        left: 25%;
        width: 50%;
        padding: 1em;
    }
    
    .popup .popup__texto{
        font-size: 0.8em;
        padding-bottom: 0.5em;
    }
    
    .popup .popup__boton {
        font-size: 0.8em;
    }
}


/*Tablet Devices*/
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {

    .contenedor-formulario {
        padding-top: 11em;
    }

    .corregir-padding{
        padding-top: 8em;
    }


    .contenedor-formulario .formulario {
        padding: 0.5em;
        width: 45%;
        border-radius: 1em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    .contenedor-formulario .formulario .formulario__titulo {
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }

    .contenedor-formulario .formulario .formulario__label {
        font-size: 1em;
        margin-top: 0.4em;
    }

    .contenedor-formulario .formulario .formulario__input {
        border-radius: 0.5em;
        font-size: 0.6em;
    }


    .contenedor-formulario .formulario .formulario__olvido {
        font-weight: 600;
        font-size: 0.9em;
        margin-top: 0.4em;
    }


    .contenedor-formulario .formulario .formulario__boton {
        padding: 0.4em;
        border-radius: 1em;
        font-size: 0.8em;
        margin-top: 0.8em;
    }

    .contenedor-formulario .formulario .formulario__crear-cuenta {
        font-size: 0.9em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .contenedor-formulario .formulario .formulario__link-crear-cuenta {
        font-weight: 650;
    }

    .contenedor-formulario .formulario .formulario__indicaciones {
        font-size: 0.8em;
        padding-bottom: 0.7em;
    }

    /*Volver*/
    .volver-atras {
        padding-right: 2em;
    }

    .volver-atras .volver-atras__flecha {
        width: 1.7em;
    }

    .volver-atras .volver-atras__flecha .volver-atras__flecha--img {
        width: 1.5em;
    }

    .volver-atras .volver-atras__texto {
        width: 3em;
        padding-right: 2em;
        font-size: 0.8em;
    }

    .popup {
        top: 42%;
        left: 30%;
        width: 40%;
        padding: 1em;
    }
    
    .popup .popup__texto{
        font-size: 0.8em;
        padding-bottom: 0.5em;
    }
    
    .popup .popup__boton {
        font-size: 0.8em;
    }

}

