* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
     background: rgb(39, 39, 39);
}

main {
    flex-grow: 1;
}

.titulo-principal,
.carrito-titulo {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-principal {
    padding: 1%;
    font-size: 1.65em;
    background: rgb(39, 39, 39);
    color: white;
}

.carrito {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.5fr 0.5fr 0.5fr 0.5fr;
    padding: 2% 4%;
    background-color: rgb(39, 39, 39);
    color: black;
}

.carrito-titulo {
    width: 100%;
    padding: 5% 0%;
    background-color: rgb(210 210 210);
    color: black;
    font-size: larger;
    align-content: center;
}

.carrito-titulo-h3 {
    padding: 2%;

}

.carrito-producto,
.carrito-precio,
.carrito-cantidad,
.carrito-subtotal,
.div__carrito-borrar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5em;
    background-color: #f3f3f3;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.5em;
    border-color: rgb(210 210 210);
}

.carrito-producto-link,
.carrito-precio-p,
.carrito-subtotal-p {
    text-decoration: none;
    padding: 5%;
    color: black;
    font-weight: bold;
    font-size: 1.1em;

}

.carrito-cantidad-input {
    width: 19%;
    height: 75%;
    margin-left: 5%;
    border-width: 0.15em;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    font-size: large;
}

.carrito-borrar {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    justify-content: center;
    cursor: pointer;
    height: 50%;
    align-items: center;
}

.carrito-borrar-img {
    width: 13%;
}

.seccion-total {
    background: rgb(39, 39, 39);
}

.seccion-total-carrito {
    display: flex;
    align-items: center;
    padding-left: 4%;
    margin-right: 4%;
    padding-bottom: 3%;
    justify-content: space-between;
}

.seccion-total-precio {
    display: inline-flex;
    width: 25%;
}

.seccion-total-h3,
.seccion-total-p {
    background-color: #f3f3f3;
    padding: 1%;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 0.1em;
}

.seccion-total-h3 {
    width: 45%;
    background-color: #f3f3f3;
    padding: 0.6% 1%;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-width: 0.1em;
    border-right-style: dotted;
}

.seccion-total-p {
    border-right-style: solid;
    width: 100%;
    padding: 0.6% 1%;
}

.seccion-total-finalizar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 3%;
    font-size: 0.5em;
    margin-left: 5%;
    margin-right: 0%;
}

.seccion-total-btn {
    padding: 7% 100%;
    font-size: 1.6em;
    cursor: pointer;
    background-color: rgb(45, 86, 161);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.seccion-total-btn-h4 {
    padding: 1%;
    font-weight: bold;
}

.seccion-seguir-btn {
    margin-right: 27%;
    font-size: 0.8em;
    padding: 0.9%;
    background-color: #77ff9f91;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

/*Volver*/
.volver-atras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 1em;
    background-color: rgb(39, 39, 39);
}

.volver-atras .volver-atras__flecha {
    width: 1.8em;
}

.volver-atras .volver-atras__flecha .volver-atras__flecha--img {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 1.5em;
    border-radius: 50%;
    text-align: right;
}


.volver-atras .volver-atras__texto {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9em;
    width: 3em;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.4em;
}

/*Mobile Devices*/
@media screen and (max-width: 47.9em) {
    main{
        min-height: 38em;
        background-color: rgb(39, 39, 39);
        padding-top: 3em;
    }

    .seccion{
        margin-top: 3em;
    }

    .titulo-principal {
        font-size: 1.2em;
        text-align: center;
    }

    .carrito-titulo-h3 {
        font-size: 0.7em;
        align-content: center;
    }

    .carrito-producto-link,
    .carrito-precio-p,
    .carrito-subtotal-p {
        font-size: 0.8em;
    }

    .carrito-cantidad-input {
        height: 50%;
        width: 57%;
        border-width: 0.1em;
        font-size: 0.8em;
    }

    .carrito-borrar {
        height: 61%;
        align-items: center;
    }

    .carrito-borrar-img {
        width: 23%;
    }

    .seccion-seguir-btn {
        margin-right: 3%;
        font-size: 0.60em;
        padding: 1.2% 1%;
    }

    .seccion-total-precio {
        display: inline-flex;
        width: 34%;
    }

    .seccion-total-carrito {
        flex-wrap: wrap;
    }

    .seccion-total-h3,
    .seccion-total-p {
        font-size: 0.8em;
    }

    .seccion-total-h3 {
        width: 40%;
    }

    .seccion-total-btn {
        font-size: 1.3em
    }

    .seccion-total-finalizar {
        font-size: 0.45em;
        margin-left: 13%;
    }

    /*Volver*/
    .volver-atras {
        display: none !important;
    }

}

/*Tablet Devices*/
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {
    .titulo-principal {
        font-size: 1.5em;
    }

    .seccion{
        margin-top: 1%;
    }


    .carrito-producto-link,
    .carrito-precio-p,
    .carrito-subtotal-p {
        font-size: 1em;
    }

    .carrito-cantidad-input {
        height: 60%;
        width: 40%;
        border-width: 0.1em;
    }

    .carrito-borrar {
        height: 61%;
        align-items: center;
    }

    .carrito-borrar-img {
        width: 18%;
    }

    .seccion-seguir-btn {
        margin-right: 38%;
        font-size: 0.75em;
        padding: 1%;
    }

    .seccion-total-h3,
    .seccion-total-p {
        font-size: 1.1em;
    }

    .seccion-total-h3 {
        width: 30%;
    }

    .seccion-total-btn {
        font-size: 1.5em
    }

    .seccion-total-finalizar {
        font-size: 0.5em;
        margin-left: 13%;
    }

    /*Volver*/
    .volver-atras {
        padding-right: 2em;
    }

    .volver-atras .volver-atras__flecha {
        width: 1.7em;
    }

    .volver-atras .volver-atras__flecha .volver-atras__flecha--img {
        width: 1.5em;
    }

    .volver-atras .volver-atras__texto {
        width: 3em;
        padding-right: 2em;
        font-size: 0.8em;
    }

}







































/* *{
    margin: 0;
    padding: 0;
}
.titulo-principal, .carrito-titulo{
    text-decoration: none;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titulo-principal{
    padding: 1%;
    font-size: 1.65em;
}
.carrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2%;
}
.carrito-titulo{
    padding: 2%;

}
/* .carrito-productos{

} */
/* .carrito-productos-lista, .carrito-precios-lista,
.carrito-cantidad-lista, .carrito-subtotal-lista{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5%;
    height: 100%;

}
.carrito-productos-lista-item, .carrito-precio-lista-item,
.carrito-cantidad-lista-item, .carrito-subtotal-lista-item{
    list-style: none;
    display: flex;
    padding: 7.7%;
    margin-top: 8%;
    flex-direction: column;
    height: auto;
}

.carrito-cantidad-lista-item{
    padding: 0%;
    height: auto;
}

.carrito-productos-lista-item-link{
    text-decoration: none;
    height: 100%;
}


.carrito-cantidad-lista-item-input{
    display: flex;
    height: 2.5em;
    width: 20%;
    padding: 1%;
    margin: 4%;
}
.div__carrito-borrar{
    display: inline;
    width: 14%;
}

.carrito-borrar{
    display: flex;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 100%;
}

.carrito-borrar-img{
    width: 100%;
}  */