*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.titulo-principal, .carrito-titulo{
    text-decoration: none;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titulo-principal{
    padding: 1%;
    font-size: 1.65em;
    background: rgb(39, 39, 39);
    color: white;
}
.carrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.5fr 0.5fr 0.5fr 0.5fr;
    padding: 2% 4%;
    background-color: rgb(39, 39, 39);
    color: black;
}

.carrito-titulo{
    width: 100%;
    padding: 5% 0%;
    background-color: rgb(210 210 210);
    color: black;
    font-size: larger;
}
.carrito-titulo-h3{
    padding: 2%;

}
.carrito-producto, .carrito-precio, .carrito-cantidad, 
.carrito-subtotal, .div__carrito-borrar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4em;
    background-color: #f3f3f3;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.5em;
    border-color: rgb(210 210 210);
}
.carrito-producto-link, .carrito-precio-p, .carrito-subtotal-p{
    text-decoration: none;
    padding: 5%;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    
}
.carrito-cantidad-input{
    width: 19%;
    height: 75%;
    margin-left: 5%;
    border-width: 0.15em;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    font-size: large;
}
.carrito-borrar{
    display: flex;
    background-color: transparent;
    border-color: transparent;
    justify-content: center;
    cursor: pointer;
}

.carrito-borrar-img{
    width: 10%;
}
.seccion-total{
    background: rgb(39, 39, 39);
}
.seccion-total-carrito{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 2%;
    margin-right: 4%;
    padding-bottom: 3%;
}
.seccion-total-h3, .seccion-total-p{
    background-color: #f3f3f3;
    padding: 1%;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 0.1em;
}
.seccion-total-h3{
    width: 3%;
    background-color: #f3f3f3;
    padding: 0.6% 1%;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-width: 0.1em;
    border-right-style: dotted;
}
.seccion-total-p{
    border-right-style: solid;
    width: 15%;
    padding: 0.6% 1%;
}

.seccion-total-finalizar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 3%;
    /* padding: 0%; */
    font-size: 0.5em;
    margin-left: 11%;
    margin-right: 2%;
}
.seccion-total-btn{
   padding: 7% 100%;
    font-size: 1.6em;
    cursor: pointer;
    background-color: rgb(45, 86, 161);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    text-align: center;
}


.seccion-total-btn-h4{
    padding: 1%;
    font-weight: bold;
}


.seccion-seguir-btn{
    margin-right: 44%;
    font-size: 0.9em;
    padding: 0.9%;
    background-color: #77ff9f91;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

/*Mobile Devices*/
@media screen  and (max-width: 23em){
    .carrito {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    }
    .titulo-principal {
        font-size: 1.em;
    }
    .carrito-titulo-h3 {
        font-size: 0.7em;
    }
    .carrito-producto-link, .carrito-precio-p, .carrito-subtotal-p {
        font-size: 0.6em;
    }
    .carrito-cantidad-input {
        height: 50%;
        width: 40%;
    }
    .carrito-borrar {
        height: 61%;
        align-items: center;
    }
    .carrito-borrar-img {
        width: 23%;
    }
    .seccion-seguir-btn {
        margin-right: 35%;
        font-size: 0.65em;
        padding: 1.2%;
    }
    .seccion-total-h3, .seccion-total-p {
        font-size: 1em;
    }
    .seccion-total-h3 {
        width: 6%;
    }
    .seccion-total-btn {
        font-size: 1.3em
    }
    .seccion-total-finalizar {
        font-size: 0.5em;
        margin-left: 13%;
    }
    

}


/*Mobile Devices*/
@media screen  and (max-width: 47.9em){
    .titulo-principal {
        font-size: 1.3em;
    }
    .carrito-titulo-h3 {
        font-size: 1em;
    }
    .carrito-producto-link, .carrito-precio-p, .carrito-subtotal-p {
        font-size: 0.8em;
    }
    .carrito-cantidad-input {
        height: 50%;
        width: 40%;
    }
    .carrito-borrar {
        height: 61%;
        align-items: center;
    }
    .carrito-borrar-img {
        width: 23%;
    }
    .seccion-seguir-btn {
        margin-right: 35%;
        font-size: 0.65em;
        padding: 1.2%;
    }
    .seccion-total-h3, .seccion-total-p {
        font-size: 1em;
    }
    .seccion-total-h3 {
        width: 6%;
    }
    .seccion-total-btn {
        font-size: 1.3em
    }
    .seccion-total-finalizar {
        font-size: 0.5em;
        margin-left: 13%;
    }
    

}

/*Tablet Devices*/
@media screen and (min-width: 47.9em) and (max-width: 63.9em){
    .titulo-principal {
        font-size: 1.5em;
    }
    .carrito-cantidad-input {
        height: 60%;
    }
    .carrito-borrar {
        height: 61%;
        align-items: center;
    }
    .carrito-borrar-img {
        width: 18%;
    }
    .seccion-seguir-btn {
        margin-right: 38%;
        font-size: 0.75em;
        padding: 1%;
    }
    .seccion-total-h3, .seccion-total-p {
        font-size: 1.1em;
    }
    .seccion-total-h3 {
        width: 5%;
    }
    .seccion-total-btn {
        font-size: 1.5em
    }
    .seccion-total-finalizar {
        font-size: 0.5em;
        margin-left: 13%;
    }
    

}








































/* *{
    margin: 0;
    padding: 0;
}
.titulo-principal, .carrito-titulo{
    text-decoration: none;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titulo-principal{
    padding: 1%;
    font-size: 1.65em;
}
.carrito{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2%;
}
.carrito-titulo{
    padding: 2%;

}
/* .carrito-productos{

} */
/* .carrito-productos-lista, .carrito-precios-lista,
.carrito-cantidad-lista, .carrito-subtotal-lista{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 5%;
    height: 100%;

}
.carrito-productos-lista-item, .carrito-precio-lista-item,
.carrito-cantidad-lista-item, .carrito-subtotal-lista-item{
    list-style: none;
    display: flex;
    padding: 7.7%;
    margin-top: 8%;
    flex-direction: column;
    height: auto;
}

.carrito-cantidad-lista-item{
    padding: 0%;
    height: auto;
}

.carrito-productos-lista-item-link{
    text-decoration: none;
    height: 100%;
}


.carrito-cantidad-lista-item-input{
    display: flex;
    height: 2.5em;
    width: 20%;
    padding: 1%;
    margin: 4%;
}
.div__carrito-borrar{
    display: inline;
    width: 14%;
}

.carrito-borrar{
    display: flex;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 100%;
}

.carrito-borrar-img{
    width: 100%;
}  */
