* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;

}



/* Informacion del curso */
.curso {
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    align-items: flex-start;
    margin-right: 2%;
}

.curso .curso_imagen {
    width: 12%;
    margin-right: 8%;
}

.curso .curso_informacion {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 3%;
    padding-right: 12%;
}

.curso .curso_informacion .curso_informacion_button {
    margin-top: 1%;
    font-size: 1em;
    font-weight: bold;
    width: 20%;
    padding: 0.7% 1.5%;
    text-align: center;
    background-color: rgb(45, 86, 161);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/*   End Informacion del curso */


/*    Contenido Por clase       */
details {
    margin-top: 1.1%;
    width: 32%;
}

summary {
    cursor: pointer;
    padding: 3.2%;
    background-color: white;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}


/* Se le agrega la flecha */
summary::after {
    content: '\25BC';
    margin-left: 0.5%;
    transition: transform 0.3s ease;

}

details[open] summary::after {
    transform: rotate(-180deg);

}



/* Contenido por clase contenido */

.curso_contenido-por-clase {
    display: flex;
    flex-direction: column;
    padding: 4%;
    background-color: #f9f9f9;
    color: #000;
    border: 1.5px solid #ccc;
    border-radius: 8px;
}


.curso_contenido-por-clase p {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    border-bottom: 1px solid #000;
    padding-bottom: 3% 6%;
    margin-top: 2.5%;
    padding-bottom: 5%;
}

.curso_contenido-por-clase p:last-child {
    border-bottom: none;
    /* Elimina la línea en el último párrafo */
}

.curso_contenido-por-clase p img {
    margin-right: 10px;
}


.icono-introduccion {
    width: 16px;
    height: auto;
}

/*    End Contenido Por clase       */


/* Informacion del docente */
.docente {
    display: flex;
    background-color: #ccc;
    color: #000;
    opacity: 90%;
    margin-inline: 1.5%;
    padding: 0.5%;
}


.docente-titulo,
.curso-relacionado-titulo {
    font-size: 1.5em;
    text-align: center;
}

.docente-titulo {
    margin-top: 7%;
    margin-bottom: 1.5%;
}


.docente_info_nombre,
.docente_info_nombre_celular {
    margin-top: 1%;
    font-size: 1.5em;
    margin-bottom: 0.5%;
}



.docente_imagen,
.docente_info_imagen_celular {
    margin-right: 1%;
    margin-left: 2%;
    border-radius: 50%;
    padding: 1%;
}

.docente_imagen {
    max-width: 11%;
}

.docente .docente_info .docente_info_imagen_celular {
    display: none;
}

.docente .docente_info .docente_info_nombre_celular {
    display: none;
}


.docente_info_calificacion-del-curso {
    max-width: 6%;
    margin-bottom: 0.5%;
}

/* End Informacion del docente */



.checkbox {
    margin-left: auto;
}

.checkbox {
    margin-left: auto;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
}


/*inicio aside*/


.curso-relacionado-titulo {
    margin: 4em 0em;
}

.contenedor-tarjetas {
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    column-gap: 4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 7%;
}

.tarjeta {
    display: grid;
    grid-template-areas: "img-precio img-precio"
        "titulo titulo"
        "horas modalidad"
        "horas detalle"
        "comprar comprar";
    background-color: rgb(255, 255, 255);
    padding-left: 0.5em;
    padding-right: 0.5em;
    grid-row-gap: 0.2em;
    align-items: center;
    box-shadow: 0 0 0.3em rgb(255, 255, 255);
    width: 20%;
}

.tarjeta__img-precio {
    grid-area: img-precio;
    position: relative;
    text-align: center;
    border-color: hwb(0 0% 100%);
    border-style: solid;
    margin: 0.2em;
    /*min-height: 6em;*/


}

.tarjeta__imagen {
    width: 90%;
    margin: 0.5em;
}

.tarjeta__precio {
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    bottom: 5%;
    right: 0.1%;
    font-size: 1em;
    padding: 0.5em;
}

.tarjeta__titulo {
    grid-area: titulo;
    font-size: 1.3em;
    text-align: right;
    color: rgb(0, 0, 0);
}

.tarjeta__horas {
    grid-area: horas;
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.tarjeta__modalidad {
    grid-area: modalidad;
    text-align: right;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
}

.tarjeta__detalle {
    grid-area: detalle;
    text-align: right;
    text-shadow: 0 0 1em rgb(17, 17, 17);
}

.tarjeta__comprar {
    grid-area: comprar;
    text-align: center;
    padding: 1em;
}

.boton {
    font-size: 0.8em;
    padding: 1.5em;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 3em;
}

.boton--comprar {
    background-color: rgb(45, 86, 161);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.boton--ver-detalle {
    color: rgb(45, 86, 161);
    font-weight: 700;
}


/*Fin aside*/


/*Volver*/
.volver-atras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-right: 1em;
    background-color: rgb(39, 39, 39);
}

.volver-atras .volver-atras__flecha {
    width: 1.8em;
}

.volver-atras .volver-atras__flecha .volver-atras__flecha--img {
    display: inline;
    background-color: rgb(255, 255, 255);
    width: 1.5em;
    border-radius: 50%;
    text-align: right;
}


.volver-atras .volver-atras__texto {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9em;
    width: 3em;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 0.4em;
}


/*  Laptop devices   */
@media screen and (min-width:1024px) and (max-width:1439px) {

    .curso .curso_imagen {
        width: 20%;
        margin-right: 8%;
    }

    .curso .curso_informacion .curso_informacion_button {
        width: 40%;
        padding: 1.5% 0%;
    }

    details {
        width: 70%;
        margin: 1.5em 0em;
    }

    .docente_imagen {
        max-width: 17%;
    }

    .tarjeta .tarjeta__precio {
        font-size: 0.75em;
    }


}


/*  Tablet Devices  */
@media screen and (min-width: 47.9em) and (max-width: 63.9em) {

    body {
        width: 100%;
        overflow-x: hidden;
    }

    
    .curso {
        margin: 2em 2em;
    }


    .curso .curso_imagen {
        width: 22%;
    }

    .curso .curso_informacion {
        padding: 0;
    }


    .curso .curso_informacion .curso_informacion_button {
        width: 80%;
        padding: 1.5% 0%;
        align-self: center;
        margin: 2.5em 0em;
    }

    details {
        width: 70%;
        margin: 1.5em 0em;
    }


    .docente .docente_info {
        font-size: 0.9em;
        padding: 0.4em 1.5em;
    }

    .docente .docente_info .docente_info_nombre {
        margin-left: 0.25em;
    }



    .docente_imagen {
        max-width: 22%;
    }

    .docente_info_calificacion-del-curso {
        max-width: 20%;
    }

    /*Volver*/
    .volver-atras {
        padding-right: 2em;
    }

    .volver-atras .volver-atras__flecha {
        width: 1.7em;
    }

    .volver-atras .volver-atras__flecha .volver-atras__flecha--img {
        width: 1.5em;
    }

    .volver-atras .volver-atras__texto {
        width: 3em;
        padding-right: 2em;
        font-size: 0.8em;
    }


    /* aside */

    .curso-relacionado-titulo {
        margin: 1em 0em;
    }

    .contenedor-tarjetas {
        background-color: rgb(39, 39, 39);
        column-gap: 1.3em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio {
        margin: 0.1em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__imagen {
        margin: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__precio {
        font-size: 0.7em;
        padding: 0.4em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__titulo {
        font-size: 0.8em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__horas {
        font-size: 0.8em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__modalidad {
        font-size: 0.5em;
        padding-top: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__detalle {
        padding-bottom: 0;
        padding-top: 0;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__comprar {
        padding-top: 0.2em;
        padding-bottom: 0.6em;
    }

    .boton {
        font-size: 0.6em;
        padding: 0.8em;
    }

    .boton.boton--ver-detalle {
        font-weight: 500;
        text-align: right;
    }

}

/*  End Tablet Devices   */


/*      Mobile Devices       */

@media screen and (max-width: 47.9em) {

    * {
        padding: 0%;
        margin: 0%;
    }
    

    main {
        margin-top: 2em;
        margin-inline: 1em;
    }

    aside{
        margin: 0;
    }

    .volver-atras {
        display: none;
    }

    .curso {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }


    .curso .curso_imagen {
        width: 60%;
    }

    .curso .curso_informacion {
        display: flex;
        margin-top: 1.5em;
        flex-direction: column;
        gap: 20px;
        margin-right: 0em;
        padding-right: 0em;
    }

    .curso .curso_informacion p {
        font-size: 0.9em;
    }

    .curso .curso_informacion .curso_informacion_button {
        width: 80%;
        padding: 0.5em;
        font-size: 0.85em;
        align-self: center;
        margin: 2.3em 0em;
    }

    details {
        margin: 1.5em 0em;
        width: 100%;
    }

    details .curso_contenido-por-clase p {
        font-size: 0.8em;
    }

    section .docente-titulo {
        margin-top: 2.5em;
    }

    .docente {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }

    .docente .docente_info_nombre {
        align-self: flex-start;
        margin-left: 2em;
    }

    .docente .docente_imagen {
        display: none;
    }

    .docente .docente_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0.5em;
    }

    .docente .docente_info .docente_info_imagen_celular  {
        display: flex;
        margin-top: 1%;
        max-width: 65%;
    }

    .docente .docente_info .docente_info_nombre {
        display: none;
    }


    .docente .docente_info .docente_info_nombre_celular {
        align-self: flex-start;
        display: flex ;
        margin-left: 0.4em;
        margin-top: 1.2%;
        font-weight: 600;
    }

    .docente_info .docente_info_calificacion-del-curso {
        display: flex;
        margin-top: 0.3em;
        align-self: flex-start;
        max-width: 50%;
        margin-bottom: 0.8em;
    }

    /*  aside */


    .curso-relacionado-titulo {
        margin: 1em 0em;
    }

    .contenedor-tarjetas {
        padding-left: 12.4em;
        padding-right: 1em;
        padding-bottom: 1.5em;
        column-gap: 1em;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    .contenedor-tarjetas .tarjeta {
        column-gap: 0.2em;
        row-gap: 0.1em;
        min-width: 7em;

    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio {
        margin: 0.1em;

    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__imagen {
        margin: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__img-precio .tarjeta__precio {
        font-size: 0.5em;
        padding: 0.4em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__titulo {
        font-size: 0.8em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__horas {
        font-size: 0.6em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__modalidad {
        font-size: 0.5em;
        padding-top: 0.2em;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__detalle {
        padding-bottom: 0;
        padding-top: 0;
    }

    .contenedor-tarjetas .tarjeta .tarjeta__comprar {
        padding-top: 0.2em;
        padding-bottom: 0.6em;
    }

    .boton {
        font-size: 0.5em;
        padding: 0.8em;
    }

    .boton.boton--ver-detalle {
        font-weight: 500;
        text-align: right;
    }

}

/*      End Mobile Devices        */